---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_slug }}
  labels:
    app.kubernetes.io/name: {{ app_slug }}
spec:
  selector:
    app.kubernetes.io/name: {{ app_slug }}
  ports:
    - name: http
      port: {{ app_port }}
      targetPort: http
      protocol: TCP
